.content > p {
    margin: 1rem auto;
}
#title {
    margin: 2rem auto 2rem auto;
    max-width: 80%;
}

#title > img {
    width: 100%;
    margin-bottom: 3rem;

}

p > i {
    color: #ff5252;
}

li {
    margin: .5rem;
}
