#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 1.1rem;
    background-color: white;
    color: black;
}

#bio-links {
    margin: .5rem auto;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, auto);
    white-space: nowrap;
    column-gap: 10%;
}

#bio-links a:hover {
    color: #993333;
}

#tech {
    margin: .5rem auto;
    display: flex;
    justify-content: space-around;
}
