* {
    box-sizing: border-box;
}
body {
    background-color: #dfd7cc;
    background-image: url('./background.svg');
    background-size: 80%, contain;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: 50% 50%;
    background-origin: border-box;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', Helvetica, sans-serif;
    font-family: 'tekobold';
}


div#root {
    margin: 0 auto;
    max-width: 80%;
    margin-top: 30px;
}

div.header-parent {
    width: 100%;
    /* height: 100px; */
    transform: skew(40deg);
    background: #993333;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    height: fit-content;
    padding: 10px;
    align-items: end;
}

img.header-img {
    /* width: 100%; */
    height: auto;
    object-fit: fill;

}


div.header-child {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
    color: white;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
    font-family: 'teko';
}

h2 {
    font-weight: normal;
    font-size: 100px;
    font-family: 'teko';
    color: white;
    transform: skew(-40deg);
    margin: 10px;
}

@font-face {
    font-family: 'apexregular';
    src: url('./assets/fonts/apex_regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/apex_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'tekobold';
    src: url('./assets/fonts/teko-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/teko-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'tekomedium';
    src: url('./assets/fonts/teko-medium-webfont.woff2') format('woff2'),
         url('./assets/fonts/teko-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'teko';
    src: url('./assets/fonts/teko-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/teko-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'tekosemibold';
    src: url('./assets/fonts/teko-semibold-webfont.woff2') format('woff2'),
         url('./assets/fonts/teko-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
