* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #dfd7cc;
    background-image: url('./background.svg');
    background-size: 95%, contain;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: 50% 65%;
    background-attachment: fixed;
    background-origin: border-box;
    font-family: 'Franklin Gothic Medium', Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
}

#body {
    width: 100%;
}

div.root {
    margin: 3rem auto 2rem auto;
    width: 80%;
}

a {
    transition: all .5s ease-in;
    text-decoration: none;
    color: red;
    font-size: 1.1rem;
}

a:hover {
    color: #581c1c;
    font-size: 1.2rem;
}

a:active {
    color: black
}

div.header-parent {
    display: flex;
    width: 100%;
    margin-bottom: .5rem;
}

div.header-parent * {
    border: 0;
    margin: 0;
}

div.header-child {
    width: 100%;
    background: rgb(51, 51, 51);
    background: linear-gradient(98deg, rgba(51, 51, 51, 1) 5%, rgba(88, 28, 28, 1) 23%, rgba(175, 19, 19, 1) 55%, rgba(188, 53, 30, 1) 65%, rgba(194, 51, 35, .8) 81%, rgba(200, 49, 39, .55) 95%);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem;
    margin: 0;
    margin-left: -1px;
}

div.header-child-b {
    width: 100%;
    background: rgb(51, 51, 51);
    background: linear-gradient(98deg, rgba(51, 51, 51, 1) 5%, rgba(88, 28, 28, 1) 15%, rgba(175, 19, 19, 1) 47%, rgba(188, 53, 30, 1) 65%, rgba(194, 51, 35, 0.6) 81%, rgba(200, 49, 39, 1) 95%);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem;
    margin: 0 -1px;
}

div.left-corner {
    width: 0;
    border-bottom: 5rem solid #333;
    border-left: 5rem solid transparent;
    border-right: 1rem solid #333;
    height: 0;
}

div.right-corner {
    border-bottom: 5rem solid rgba(200, 49, 39, .55);
    border-right: 1rem solid transparent;
    border-left: 1px rgba(200, 49, 39, .55) solid;
}

div.left-corner-b {
    width: 0;
    border-right: 1rem solid #333;
    border-bottom: 5rem solid #333;
    border-left: 1rem solid transparent;
    height: 0;
}

div.right-corner-b {
    border-bottom: 5rem solid rgba(200, 49, 39, 1);
    border-right: 4rem solid transparent;
    border-left: 1px solid rgba(200, 49, 39, 1)
}

.content-container {
    border: 1px #999 solid;
    border-radius: 2px;
    box-shadow: inset 0 0 .2em #666;
    display: flex;
    justify-content: center;
    padding: .25em;
    background-color: rgba(255, 255, 255, .85);
    margin-bottom: 2rem;
}

div.content {
    background-color: rgba(0, 0, 0, .75);
    border-radius: 2px;
    display: block;
    width: 100%;
    margin: 0;
    padding: 1em;
    border: 1px solid black;
    box-shadow: 0 0 .2em #666;
}


h1, h2, h3 {
    padding: 0;
    margin: 0;
    font-family: 'tekosemibold';
    color: white;
}

h2 {
    font-weight: normal;
    font-size: 2rem;
    letter-spacing: .1rem;
}

h2.success {
    color: red;
}

h3 {
    font-weight: normal;
    font-size: 1.5rem;
    letter-spacing: .1rem;
}

input, select {
    outline: 1px solid black;
    border: none;
    border-radius: 2px;
    display: block;
    margin: .5rem auto;
}
input:focus, select:focus   {
    outline: #c23f3f solid 2px;
}

.errors {
    border:rgba(175, 19, 19, 1) 1px solid
}
button {
    padding: .5rem;
    border: 1px solid white;
    font-family: 'teko';
    font-size: 1.5rem;
    letter-spacing: .1rem;
    background-color: aliceblue;
    box-shadow: inset 0 0 .2em #333;
    border-radius: 3px;
}

.button-div {
    margin: 1rem auto 0rem auto;
}



@font-face {
    font-family: 'apexregular';
    src: url('./assets/fonts/apex_regular-webfont.woff2') format('woff2'),
        url('./assets/fonts/apex_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'tekobold';
    src: url('./assets/fonts/teko-bold-webfont.woff2') format('woff2'),
        url('./assets/fonts/teko-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'tekomedium';
    src: url('./assets/fonts/teko-medium-webfont.woff2') format('woff2'),
        url('./assets/fonts/teko-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'teko';
    src: url('./assets/fonts/teko-regular-webfont.woff2') format('woff2'),
        url('./assets/fonts/teko-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'tekosemibold';
    src: url('./assets/fonts/teko-semibold-webfont.woff2') format('woff2'),
        url('./assets/fonts/teko-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
