
div.modal-header-child {
    width: 100%;
    background: rgb(51, 51, 51);
    background: linear-gradient(98deg, rgba(51, 51, 51, 1) 0%, rgba(88, 28, 28, 1) 33%, rgba(175, 19, 19, 1) 64%, rgba(88, 28, 28, 1) 100%);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem;
}
div.modal-left-corner {
    width: 0;
    border-bottom: 5rem solid #333;
    border-left: 4rem solid transparent;
    margin: 0;
    height: 0;
}

div.modal-right-corner {
    border-bottom: 5rem solid #581c1c;
    border-right: 1rem solid transparent;
}
