#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #modal-background {
    background-color: rgba(223, 215, 204, .90);
    /* background-image: url('./background.svg'); */
    background-size: 95%, contain;
    background-repeat: no-repeat;
    background-position: 50% 65%;
    background-attachment: fixed;
    background-origin: border-box;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  #modal-content {
    position: absolute;
    width: fit-content;
    max-width: 100%;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
  }
