.challenges {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    align-items: center;
    gap: 1px;
    min-width: 100%;
}

.challenges div {
    min-width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
}

.challenges-header {
    grid-row: 1/2;
    /* color:rgb(255, 237, 132); */
    text-decoration: underline;
}


div[class$="label-1"] {
    color: rgb(207, 188, 188);
    /* background-color: #333; */
    /* box-shadow: inset 0 0 .2em #fff; */
}

.trash-label-1 > a {
    color: rgb(250, 90, 90);
}

.trash-label-0 > a {
    color: rgb(255, 198, 243);
}
